.git
.gitignore
.env
venv
__pycache__
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints
*.ipynb
*.log

data/user_data
data/uploads
audit_results.csv

.streamlit/

backend/__pycache__
frontend/__pycache__

node_modules
dist
build
